/* ForgotPassword.css */

body {
  background-image: url('https://source.unsplash.com/a-plane-flying-in-the-sky-at-sunset-TIvFLeqZ4ec');
  background-size: 1700px;
  background-position: center;
}

.forgot-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.sendemailbutton {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s ease;
}

.sendemailbutton:hover {
  background-color: #007bff;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
  margin-top: 10px;
}
